<Layouts.app flash={@flash}>
  <.header>
    Interviews
    <:actions>
      <button type="button" class="btn btn-primary" onclick="interview_modal.showModal()">
        Add
      </button>
    </:actions>
  </.header>

  <.table id="interviews" rows={@interviews}>
    <:col :let={interview} label="Date applied">{interview.date_applied}</:col>
    <:col :let={interview} label="Date contacted">
      <.form
        for={%{}}
        action={~p"/interviews/#{interview.id}/contacted"}
        method="patch"
        class="flex items-center gap-2"
      >
        <input
          type="date"
          name="interview[date_contacted]"
          value={interview.date_contacted}
          class="input input-sm"
        />
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
      </.form>
    </:col>
    <:col :let={interview} label="Description">{interview.description}</:col>
    <:col :let={interview} label="Link">
      <.link
        :if={interview.link not in [nil, ""]}
        href={interview.link}
        class="link"
        target="_blank"
      >
        {interview.link}
      </.link>
    </:col>
    <:col :let={interview} label="Company name">{interview.company_name}</:col>
  </.table>

  <.interview_modal form={@form} />

  <script :if={@form.source.action} type="text/javascript">
    interview_modal.showModal();
  </script>
</Layouts.app>
